@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 3px 6px 20px 10px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    position: relative;
}

.auth-header {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
    position: relative;
}

.auth-body {
    width: 80%;
    bottom: 20px;
    position: relative;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.phoneNumberInput, .passwordInput, .usernameInput {
    width: 97%;
    height: 55px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.1), 3px 6px 20px 10px rgba(0, 0, 0, 0.12);
    transition: 0.1s ease;
    font-size: 25px;
    color: #000000;
    font-weight: 200;
    padding-left: 25px;
    position: relative;
}

.phoneNumberInput:focus, .passwordInput:focus {
    transform: scale(1.05);
}

.phoneNumberInput::-webkit-input-placeholder,
.passwordInput::-webkit-input-placeholder,
.usernameInput::-webkit-input-placeholder {
    font-size: 25px;
    color: #000000;
    opacity: 0.28;
}

.signInButton {
    width: 45%;
    height: 70px;
    border-radius: 20px;
    border: 0;
    background-color: #B5312E;
    font-size: 30px;
    color: #ffffff;
    font-weight: 200;
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.1), 3px 6px 20px 10px rgba(0, 0, 0, 0.12);
}

.forgetText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.12);
    position: fixed;
    z-index: 10;
}

nav {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 32px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease;
}

nav a:hover {
    color: #333;
}

.isActiveHeader {
    color: rgb(100, 100, 100);
}

#section-1 {
    position: relative;
    top: 230px;
}

.booksCollection {
    position: relative;
    bottom: 100px;
}

.booksCollection .books {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.booksCollection .table {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
}

.books img {
    margin-left: -50px;
}


.booksCollection .books img:hover {
    transform: scale(1.15);
}


.divider {
    margin-top: 20px;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    background-color: #2C2C2C;
}

#section-3 .container {
    width: 100%;
}

.sub-sections {
    display: flex;
    width: 70%;
    gap: 100px;
    align-items: center;
    justify-content: space-around;
    /*flex-wrap: wrap;*/
    box-sizing: border-box;
}

.section-texts {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.section-texts h1 {
    font-size: 100px;
    width: 90%;
}

.section-texts p {
    font-size: 30px;
    line-height: 35px;
}

.section-img {
    box-sizing: border-box;
    width: 20%;
}


#section-4 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section-4 .container h1 {
    font-size: 70px;
}


.buttonsdiv {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.questiontext {
    text-align: center;
    color: #343d38;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    cursor: pointer;
}

.maraphone5 {
    text-align: center;
    color: #343d38;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin: 0;
    padding: 0;
    border: 0;
}

.lastbutton {
    margin: 5px;
    padding: 5px 75px 5px 75px;
    color: #787878;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: rgb(255, 206, 122);
    border-radius: 50px;
    text-align: center;
}


.footer {
    background-color: rgb(255, 255, 255);
    padding: 105px 175px 155px 175px;
}

.footertext {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}


.graywords {
    margin: 10px;
    color: rgb(28, 30, 29);
    line-height: 18px;
    font-size: 16px;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 500;
    letter-spacing: -0.5px;
}


.excellast {
    line-height: 24px;
    font-size: 25px;
    color: #000000;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.5px;
    width: 100%;

}

.littlegray {
    margin-top: 50px;
    font-size: 14px;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 500;
    letter-spacing: -0.5px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: rgb(54, 55, 54);
}


.not-found-text {
    font-size: 48px;
}

.goBackButton {
    background-color: #2d2d2d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}

.goBackButton:hover {
    background-color: #000000;
}